Repository somallg/hacker-rank: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved flip problem
  challenges/interviewbit/programming/arrays/flip/flip.spec.ts
  challenges/interviewbit/programming/arrays/flip/flip.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved max-non-negative-subarray problem
  challenges/interviewbit/programming/arrays/max-non-negative-subarray/max-non-negative-subarray.spec.ts
  challenges/interviewbit/programming/arrays/max-non-negative-subarray/max-non-negative-subarray.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved maxspprod problem
  challenges/interviewbit/programming/arrays/maxspprod/maxspprod.spec.ts
  challenges/interviewbit/programming/arrays/maxspprod/maxspprod.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved spiral-order-matrix-ii problem
  challenges/interviewbit/programming/arrays/spiral-order-matrix-ii/spiral-order-matrix-ii.spec.ts
  challenges/interviewbit/programming/arrays/spiral-order-matrix-ii/spiral-order-matrix-ii.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved pascal-triangle problem
  challenges/interviewbit/programming/arrays/pascal-triangle/pascal-triangle.spec.ts
  challenges/interviewbit/programming/arrays/pascal-triangle/pascal-triangle.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved noble-integer problem
  challenges/interviewbit/programming/arrays/noble-integer/noble-integer.spec.ts
  challenges/interviewbit/programming/arrays/noble-integer/noble-integer.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved largest-number problem
  challenges/interviewbit/programming/arrays/largest-number/largest-number.spec.ts
  challenges/interviewbit/programming/arrays/largest-number/largest-number.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved merge-intervals
  challenges/interviewbit/programming/arrays/merge-intervals/merge-intervals.spec.ts
  challenges/interviewbit/programming/arrays/merge-intervals/merge-intervals.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solve wave-array
  challenges/interviewbit/programming/arrays/wave-array/wave-array.spec.ts
  challenges/interviewbit/programming/arrays/wave-array/wave-array.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved first-missing-integer v2
  challenges/interviewbit/programming/arrays/first-missing-integer/first-missing-integer.spec.ts
  challenges/interviewbit/programming/arrays/first-missing-integer/first-missing-integer.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved kth-row-of-pascals-triangle
  challenges/interviewbit/programming/arrays/kth-row-of-pascals-triangle/kth-row-of-pascals-triangle.spec.ts
  challenges/interviewbit/programming/arrays/kth-row-of-pascals-triangle/kth-row-of-pascals-triangle.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved anti-diagonals
  challenges/interviewbit/programming/arrays/anti-diagonals/anti-diagonals.spec.ts
  challenges/interviewbit/programming/arrays/anti-diagonals/anti-diagonals.ts
  challenges/util/array.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved max-distance
  challenges/interviewbit/programming/arrays/max-distance/max-distance.spec.ts
  challenges/interviewbit/programming/arrays/max-distance/max-distance.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): add circleci status badge
  README.md
Due: none

feat(interviewbit): solved maximum-unsorted-subarray
  challenges/interviewbit/programming/arrays/maximum-unsorted-subarray/maximum-unsorted-subarray.spec.ts
  challenges/interviewbit/programming/arrays/maximum-unsorted-subarray/maximum-unsorted-subarray.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved hotel-bookings-possible
  challenges/interviewbit/programming/arrays/hotel-bookings-possible/hotel-bookings-possible.spec.ts
  challenges/interviewbit/programming/arrays/hotel-bookings-possible/hotel-bookings-possible.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved find-duplicate-in-array
  challenges/interviewbit/programming/arrays/find-duplicate-in-array/find-duplicate-in-array.spec.ts
  challenges/interviewbit/programming/arrays/find-duplicate-in-array/find-duplicate-in-array.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved maximum-consecutive-gap
  challenges/interviewbit/programming/arrays/maximum-consecutive-gap/maximum-consecutive-gap.spec.ts
  challenges/interviewbit/programming/arrays/maximum-consecutive-gap/maximum-consecutive-gap.ts
  challenges/tools/file-generator/spec.source.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved merge-overlapping-intervals
  challenges/interviewbit/programming/arrays/merge-intervals/merge-intervals.ts
  challenges/interviewbit/programming/arrays/merge-overlapping-intervals/merge-overlapping-intervals.spec.ts
  challenges/interviewbit/programming/arrays/merge-overlapping-intervals/merge-overlapping-intervals.ts
  challenges/tools/file-generator/file.source.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved set-matrix-zeros and add python support
  challenges/interviewbit/programming/arrays/set-matrix-zeros/set-matrix-zeros.py
  challenges/interviewbit/programming/arrays/set-matrix-zeros/set-matrix-zeros.spec.ts
  challenges/interviewbit/programming/arrays/set-matrix-zeros/set-matrix-zeros.ts
  challenges/util/array.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(file-generator): add support to generate python files
  .lintstagedrc
  .pylintrc
  challenges/interviewbit/programming/arrays/hotel-bookings-possible/hotel-bookings-possible.fixture.json
  challenges/interviewbit/programming/arrays/hotel-bookings-possible/hotel-bookings-possible.spec.ts
  challenges/tools/file-generator/file.source.ts
  challenges/tools/file-generator/function.source.ts
  challenges/tools/file-generator/index.ts
  challenges/tools/file-generator/python/index.ts
  challenges/tools/file-generator/python/py-file.source.ts
  challenges/tools/file-generator/python/py-spec.source.ts
  challenges/tools/file-generator/spec.source.ts
  challenges/tools/file-generator/type.ts
  challenges/tools/file-generator/typescript/index.ts
  challenges/tools/file-generator/typescript/ts-file.source.ts
  challenges/tools/file-generator/typescript/ts-fixture.source.ts
  challenges/tools/file-generator/typescript/ts-spec.source.ts
  challenges/tools/utils/string.util.ts
  challenges/util/index.ts
  challenges/util/unit-test.util.ts
  gulpfile.ts
  typings.d.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved n3-repeat-number
  challenges/interviewbit/programming/arrays/n3-repeat-number/n3-repeat-number.fixture.json
  challenges/interviewbit/programming/arrays/n3-repeat-number/n3-repeat-number.py
  challenges/interviewbit/programming/arrays/n3-repeat-number/n3-repeat-number.spec.ts
  challenges/interviewbit/programming/arrays/n3-repeat-number/n3-repeat-number.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved rotate-matrix
  .gitignore
  challenges/interviewbit/programming/arrays/rotate-matrix/rotate-matrix.fixture.json
  challenges/interviewbit/programming/arrays/rotate-matrix/rotate-matrix.spec.ts
  challenges/interviewbit/programming/arrays/rotate-matrix/rotate-matrix.ts
  challenges/interviewbit/programming/arrays/rotate-matrix/rotate_matrix.py
  challenges/interviewbit/programming/arrays/rotate-matrix/rotate_matrix_spec.py
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved spiral-order-matrix-i
  challenges/interviewbit/programming/arrays/spiral-order-matrix-i/spiral-order-matrix-i.fixture.json
  challenges/interviewbit/programming/arrays/spiral-order-matrix-i/spiral-order-matrix-i.spec.ts
  challenges/interviewbit/programming/arrays/spiral-order-matrix-i/spiral-order-matrix-i.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved next-permutation
  challenges/interviewbit/programming/arrays/next-permutation/next-permutation.fixture.json
  challenges/interviewbit/programming/arrays/next-permutation/next-permutation.spec.ts
  challenges/interviewbit/programming/arrays/next-permutation/next-permutation.ts
  challenges/interviewbit/programming/arrays/next-permutation/next_permutation.py
  challenges/interviewbit/programming/arrays/next-permutation/next_permutation_spec.py
  challenges/tools/file-generator/index.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved find-permutation
  challenges/interviewbit/programming/arrays/find-permutation/find-permutation.fixture.json
  challenges/interviewbit/programming/arrays/find-permutation/find-permutation.spec.ts
  challenges/interviewbit/programming/arrays/find-permutation/find-permutation.ts
  challenges/interviewbit/programming/arrays/find-permutation/find_permutation.py
  challenges/interviewbit/programming/arrays/find-permutation/find_permutation_spec.py
  challenges/tools/file-generator/index.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(tslint): change config to use ts:recommended
  challenges/tools/file-generator/index.ts
  challenges/tools/gulp.config.ts
  gulpfile.ts
  package.json
  tslint.json
  yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved triplets-with-sum-between-given-range
  challenges/interviewbit/programming/arrays/triplets-with-sum-between-given-range/triplets-with-sum-between-given-range.spec.ts
  challenges/interviewbit/programming/arrays/triplets-with-sum-between-given-range/triplets-with-sum-between-given-range.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved all-factors
  challenges/interviewbit/programming/math/all-factors/all-factors.fixture.json
  challenges/interviewbit/programming/math/all-factors/all-factors.spec.ts
  challenges/interviewbit/programming/math/all-factors/all-factors.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved prime-sum
  challenges/interviewbit/programming/math/prime-sum/prime-sum.fixture.json
  challenges/interviewbit/programming/math/prime-sum/prime-sum.spec.ts
  challenges/interviewbit/programming/math/prime-sum/prime-sum.ts
  challenges/tools/file-generator/typescript/ts-spec.source.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved excel-column-number
  challenges/interviewbit/programming/math/excel-column-number/excel-column-number.fixture.json
  challenges/interviewbit/programming/math/excel-column-number/excel-column-number.spec.ts
  challenges/interviewbit/programming/math/excel-column-number/excel-column-number.ts
  yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved math/palindrome-integer
  challenges/interviewbit/programming/arrays/max-sum-contiguous-subarray/max-sum-contiguous-subarray.spec.ts
  challenges/interviewbit/programming/math/palindrome-integer/palindrome-integer.fixture.json
  challenges/interviewbit/programming/math/palindrome-integer/palindrome-integer.spec.ts
  challenges/interviewbit/programming/math/palindrome-integer/palindrome-integer.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

fix(tools): improve ts spec file
  challenges/tools/file-generator/typescript/ts-spec.source.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved prime-numbers
  challenges/interviewbit/programming/math/prime-numbers/prime-numbers.fixture.json
  challenges/interviewbit/programming/math/prime-numbers/prime-numbers.spec.ts
  challenges/interviewbit/programming/math/prime-numbers/prime-numbers.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved reverse-integer
  challenges/interviewbit/programming/math/reverse-integer/reverse-integer.fixture.json
  challenges/interviewbit/programming/math/reverse-integer/reverse-integer.spec.ts
  challenges/interviewbit/programming/math/reverse-integer/reverse-integer.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved verify-prime
  challenges/interviewbit/programming/math/verify-prime/verify-prime.fixture.json
  challenges/interviewbit/programming/math/verify-prime/verify-prime.spec.ts
  challenges/interviewbit/programming/math/verify-prime/verify-prime.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved binary-representation
  challenges/interviewbit/programming/math/binary-representation/binary-representation.fixture.json
  challenges/interviewbit/programming/math/binary-representation/binary-representation.spec.ts
  challenges/interviewbit/programming/math/binary-representation/binary-representation.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

fix: remove test files
  package.json
  packages/schematics/challenges/test/abc/test-name.fixture.json
  packages/schematics/challenges/test/abc/test-name.spec.ts
  packages/schematics/challenges/test/abc/test-name.ts
  packages/schematics/challenges/test/hackerrank/test-name.fixture.json
  packages/schematics/challenges/test/hackerrank/test-name.spec.ts
  packages/schematics/challenges/test/hackerrank/test-name.ts
  packages/schematics/challenges/test/interviewbit/test-name.fixture.json
  packages/schematics/challenges/test/interviewbit/test-name.spec.ts
  packages/schematics/challenges/test/interviewbit/test-name.ts
  yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved greatest-common-divisor
  gulpfile.ts
  jest.config.js
  package.json
  packages/codility/lessions/lession-12/gcd/gcd.ts
  packages/interviewbit/programming/math/greatest-common-divisor/greatest-common-divisor.fixture.json
  packages/interviewbit/programming/math/greatest-common-divisor/greatest-common-divisor.spec.ts
  packages/interviewbit/programming/math/greatest-common-divisor/greatest-common-divisor.ts
  packages/schematics/challenges/src/util/challenge.util.ts
  packages/tools/index.ts
  tsconfig.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

Path conditions:
  prettier --parser json --write: (any of: *.json) or (any of: *.*rc)
  prettier --write: (any of: *.js) or (any of: *.ts)
  tslint --fix --format verbose: any of: *.ts
  yarn jest --findRelatedTests: any of: *.ts
