Repository somallg/hacker-rank: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

.lintstagedrc:

{
  "linters": {
    "*.json": ["prettier --parser json --write", "git add"],
    "*.*rc": ["prettier --parser json --write", "git add"],
    "*.js": ["prettier --write", "git add"],
    "*.ts": [
      "prettier --write",
      "tslint --fix --format verbose",
      "yarn jest --findRelatedTests",
      "git add"
    ]
  },
  "concurrent": false,
  "renderer": "verbose"
}

feat(interviewbit): solved trailing-zeros-in-factorial
  packages/hackerrank/max-min-array.ts
  packages/interviewbit/programming/math/trailing-zeros-in-factorial/trailing-zeros-in-factorial.fixture.json
  packages/interviewbit/programming/math/trailing-zeros-in-factorial/trailing-zeros-in-factorial.spec.ts
  packages/interviewbit/programming/math/trailing-zeros-in-factorial/trailing-zeros-in-factorial.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

fix(jest): ignore schematics problem
  jest.config.js
Due: prettier --write

feat(interviewbit): solved fizzbuzz
  packages/interviewbit/programming/arrays/fizzbuzz/fizzbuzz.fixture.json
  packages/interviewbit/programming/arrays/fizzbuzz/fizzbuzz.spec.ts
  packages/interviewbit/programming/arrays/fizzbuzz/fizzbuzz.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved numbers-of-length-n-and-value-less-than-k
  packages/interviewbit/programming/math/fizzbuzz/fizzbuzz.fixture.json
  packages/interviewbit/programming/math/fizzbuzz/fizzbuzz.spec.ts
  packages/interviewbit/programming/math/fizzbuzz/fizzbuzz.ts
  packages/interviewbit/programming/math/numbers-of-length-n-and-value-less-than-k/numbers-of-length-n-and-value-less-than-k.fixture.json
  packages/interviewbit/programming/math/numbers-of-length-n-and-value-less-than-k/numbers-of-length-n-and-value-less-than-k.spec.ts
  packages/interviewbit/programming/math/numbers-of-length-n-and-value-less-than-k/numbers-of-length-n-and-value-less-than-k.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved numbers-of-length-n-and-value-less-than-k
  packages/interviewbit/programming/math/numbers-of-length-n-and-value-less-than-k/numbers-of-length-n-and-value-less-than-k.fixture.json
  packages/interviewbit/programming/math/numbers-of-length-n-and-value-less-than-k/numbers-of-length-n-and-value-less-than-k.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved power-of-two-integers
  packages/interviewbit/programming/math/power-of-two-integers/power-of-two-integers.fixture.json
  packages/interviewbit/programming/math/power-of-two-integers/power-of-two-integers.spec.ts
  packages/interviewbit/programming/math/power-of-two-integers/power-of-two-integers.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

fix: improve power-of-two-intergers solution
  packages/interviewbit/programming/math/power-of-two-integers/power-of-two-integers.spec.ts
  packages/interviewbit/programming/math/power-of-two-integers/power-of-two-integers.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved sum-of-pairwise-hamming-distance O(n) time
  packages/interviewbit/programming/math/sum-of-pairwise-hamming-distance/sum-of-pairwise-hamming-distance.fixture.json
  packages/interviewbit/programming/math/sum-of-pairwise-hamming-distance/sum-of-pairwise-hamming-distance.spec.ts
  packages/interviewbit/programming/math/sum-of-pairwise-hamming-distance/sum-of-pairwise-hamming-distance.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

fix(file-generator): reorganize import in spec.ts file
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.spec.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved excel-column-title problem
  packages/interviewbit/programming/math/excel-column-title/excel-column-title.fixture.json
  packages/interviewbit/programming/math/excel-column-title/excel-column-title.spec.ts
  packages/interviewbit/programming/math/excel-column-title/excel-column-title.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved rearrange-array
  packages/interviewbit/programming/math/rearrange-array/rearrange-array.fixture.json
  packages/interviewbit/programming/math/rearrange-array/rearrange-array.spec.ts
  packages/interviewbit/programming/math/rearrange-array/rearrange-array.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solve grid-unique-paths by recursion plus memo
  packages/interviewbit/programming/math/grid-unique-paths/grid-unique-paths.fixture.json
  packages/interviewbit/programming/math/grid-unique-paths/grid-unique-paths.spec.ts
  packages/interviewbit/programming/math/grid-unique-paths/grid-unique-paths.ts
  packages/util/memorized.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved grid-unique-paths by imperative dp
  packages/interviewbit/programming/math/grid-unique-paths/grid-unique-paths.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(test): tweak scripts command
  .circleci/config.yml
  gulpfile.ts
  jest.config.js
  package.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(coverage): add codecov support
  .circleci/config.yml
  .travis.yml
  package.json
  yarn.lock
Due: prettier --parser json --write

feat(coverage): add support for coveralls
  .circleci/config.yml
  .travis.yml
  package.json
  yarn.lock
Due: prettier --parser json --write

feat(coverage): bump node version in travis and circle
  .circleci/config.yml
  .travis.yml
  package.json
  yarn.lock
Due: prettier --parser json --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: none

feat(interviewbit): solved sorted-permutation-rank
  packages/interviewbit/programming/math/sorted-permutation-rank/sorted-permutation-rank.fixture.json
  packages/interviewbit/programming/math/sorted-permutation-rank/sorted-permutation-rank.spec.ts
  packages/interviewbit/programming/math/sorted-permutation-rank/sorted-permutation-rank.ts
  packages/util/unit-test.util.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved largest-coprime-divisor
  gulpfile.ts
  packages/interviewbit/programming/math/greatest-common-divisor/index.ts
  packages/interviewbit/programming/math/largest-coprime-divisor/largest-coprime-divisor.fixture.json
  packages/interviewbit/programming/math/largest-coprime-divisor/largest-coprime-divisor.spec.ts
  packages/interviewbit/programming/math/largest-coprime-divisor/largest-coprime-divisor.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved sorted-permutation-rank-with-repeats
  package.json
  packages/interviewbit/programming/math/sorted-permutation-rank-with-repeats/sorted-permutation-rank-with-repeats.fixture.json
  packages/interviewbit/programming/math/sorted-permutation-rank-with-repeats/sorted-permutation-rank-with-repeats.spec.ts
  packages/interviewbit/programming/math/sorted-permutation-rank-with-repeats/sorted-permutation-rank-with-repeats.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved pretty-print
  packages/interviewbit/programming/arrays/pretty-print/pretty-print.fixture.json
  packages/interviewbit/programming/arrays/pretty-print/pretty-print.spec.ts
  packages/interviewbit/programming/arrays/pretty-print/pretty-print.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved square-root-of-integer problem
  packages/interviewbit/programming/binary-search/square-root-of-integer/square-root-of-integer.fixture.json
  packages/interviewbit/programming/binary-search/square-root-of-integer/square-root-of-integer.spec.ts
  packages/interviewbit/programming/binary-search/square-root-of-integer/square-root-of-integer.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved search-for-a-range O(logn) time
  package.json
  packages/interviewbit/programming/binary-search/search-for-a-range/search-for-a-range.fixture.json
  packages/interviewbit/programming/binary-search/search-for-a-range/search-for-a-range.spec.ts
  packages/interviewbit/programming/binary-search/search-for-a-range/search-for-a-range.ts
  packages/util/array.ts
  yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved matrix-search problem
  packages/interviewbit/programming/binary-search/matrix-search/matrix-search.fixture.json
  packages/interviewbit/programming/binary-search/matrix-search/matrix-search.spec.ts
  packages/interviewbit/programming/binary-search/matrix-search/matrix-search.ts
  packages/interviewbit/programming/binary-search/matrix-search/matrix_search.py
  packages/interviewbit/programming/binary-search/matrix-search/matrix_search.pyc
  packages/interviewbit/programming/binary-search/matrix-search/matrix_search_spec.py
  packages/interviewbit/programming/binary-search/matrix-search/matrix_search_spec.pyc
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

fix(file-generator): tweak fixture schema
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.fixture.json
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.spec.ts
  packages/util/array.ts
  packages/util/unit-test.util.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved sorted-insert-position
  packages/interviewbit/programming/binary-search/sorted-insert-position/sorted-insert-position.fixture.json
  packages/interviewbit/programming/binary-search/sorted-insert-position/sorted-insert-position.spec.ts
  packages/interviewbit/programming/binary-search/sorted-insert-position/sorted-insert-position.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved implement-power-function
  packages/interviewbit/programming/binary-search/implement-power-function/implement-power-function.fixture.json
  packages/interviewbit/programming/binary-search/implement-power-function/implement-power-function.spec.ts
  packages/interviewbit/programming/binary-search/implement-power-function/implement-power-function.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved count-element-occurence
  packages/interviewbit/programming/binary-search/count-element-occurence/count-element-occurence.fixture.json
  packages/interviewbit/programming/binary-search/count-element-occurence/count-element-occurence.spec.ts
  packages/interviewbit/programming/binary-search/count-element-occurence/count-element-occurence.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved painters-partition-problem
  packages/interviewbit/programming/binary-search/painters-partition-problem/painters-partition-problem.fixture.json
  packages/interviewbit/programming/binary-search/painters-partition-problem/painters-partition-problem.spec.ts
  packages/interviewbit/programming/binary-search/painters-partition-problem/painters-partition-problem.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved allocate-books
  packages/interviewbit/programming/binary-search/allocate-books/allocate-books.fixture.json
  packages/interviewbit/programming/binary-search/allocate-books/allocate-books.spec.ts
  packages/interviewbit/programming/binary-search/allocate-books/allocate-books.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved matrix-median
  packages/interviewbit/programming/binary-search/matrix-median/matrix-median.fixture.json
  packages/interviewbit/programming/binary-search/matrix-median/matrix-median.spec.ts
  packages/interviewbit/programming/binary-search/matrix-median/matrix-median.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved median-of-array
  packages/interviewbit/programming/binary-search/median-of-array/median-of-array.analysis.org
  packages/interviewbit/programming/binary-search/median-of-array/median-of-array.fixture.json
  packages/interviewbit/programming/binary-search/median-of-array/median-of-array.spec.ts
  packages/interviewbit/programming/binary-search/median-of-array/median-of-array.ts
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.analysis.org
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved rotated-sorted-array-search
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated-sorted-array-search.analysis.org
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated-sorted-array-search.fixture.json
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated-sorted-array-search.spec.ts
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated-sorted-array-search.ts
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated_sorted_array_search.py
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated_sorted_array_search.pyc
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated_sorted_array_search_spec.py
  packages/interviewbit/programming/binary-search/rotated-sorted-array-search/rotated_sorted_array_search_spec.pyc
  packages/schematics/challenges/src/file-generator/files/python/__problem@underscore___spec.py
  tslint.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved strings/palindrome-string
  packages/interviewbit/programming/strings/palindrome-string/palindrome-string.analysis.org
  packages/interviewbit/programming/strings/palindrome-string/palindrome-string.fixture.json
  packages/interviewbit/programming/strings/palindrome-string/palindrome-string.spec.ts
  packages/interviewbit/programming/strings/palindrome-string/palindrome-string.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved strings/length-of-last-word
  packages/interviewbit/programming/strings/length-of-last-word/length-of-last-word.analysis.org
  packages/interviewbit/programming/strings/length-of-last-word/length-of-last-word.fixture.json
  packages/interviewbit/programming/strings/length-of-last-word/length-of-last-word.spec.ts
  packages/interviewbit/programming/strings/length-of-last-word/length-of-last-word.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved strings/reverse-the-string
  packages/interviewbit/programming/strings/reverse-the-string/reverse-the-string.analysis.org
  packages/interviewbit/programming/strings/reverse-the-string/reverse-the-string.fixture.json
  packages/interviewbit/programming/strings/reverse-the-string/reverse-the-string.spec.ts
  packages/interviewbit/programming/strings/reverse-the-string/reverse-the-string.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved strings/roman-to-integer
  packages/interviewbit/programming/strings/roman-to-integer/roman-to-integer.analysis.org
  packages/interviewbit/programming/strings/roman-to-integer/roman-to-integer.fixture.json
  packages/interviewbit/programming/strings/roman-to-integer/roman-to-integer.spec.ts
  packages/interviewbit/programming/strings/roman-to-integer/roman-to-integer.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved strings/implement-strstr with O(m * n)
  packages/interviewbit/programming/strings/implement-strstr/implement-strstr.analysis.org
  packages/interviewbit/programming/strings/implement-strstr/implement-strstr.fixture.json
  packages/interviewbit/programming/strings/implement-strstr/implement-strstr.spec.ts
  packages/interviewbit/programming/strings/implement-strstr/implement-strstr.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved strings/add-binary-strings
  packages/interviewbit/programming/strings/add-binary-strings/add-binary-strings.analysis.org
  packages/interviewbit/programming/strings/add-binary-strings/add-binary-strings.fixture.json
  packages/interviewbit/programming/strings/add-binary-strings/add-binary-strings.spec.ts
  packages/interviewbit/programming/strings/add-binary-strings/add-binary-strings.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests
