Repository somallg/hacker-rank: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

.lintstagedrc:

{
  "linters": {
    "*.js": ["prettier --write", "git add"],
    "*.ts": [
      "prettier --write",
      "tslint --fix --format stylish",
      "yarn jest --findRelatedTests",
      "git add"
    ]
  },
  "concurrent": false,
  "renderer": "verbose"
}

feat(ctci): implement first-common-ancestor solution #4
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement bst-sequences solution #1
  packages/cracking-the-coding-interview/trees-and-graphs/bst-sequences/bst-sequences.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/bst-sequences/bst-sequences.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/bst-sequences/bst-sequences.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/bst-sequences/bst-sequences.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(gen): tweak template for org file
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.analysis.org
Due: none

feat(ctci): implement check-subtree solution #1
  packages/cracking-the-coding-interview/trees-and-graphs/check-subtree/check-subtree.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/check-subtree/check-subtree.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/check-subtree/check-subtree.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/check-subtree/check-subtree.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement check-subtree solution #2
  packages/cracking-the-coding-interview/trees-and-graphs/check-subtree/check-subtree.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/check-subtree/check-subtree.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ut): tweak prettyFormat function
  packages/util/unit-test.util.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement random-node option #6
  packages/cracking-the-coding-interview/trees-and-graphs/random-node/random-node.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/random-node/random-node.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/random-node/random-node.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/random-node/random-node.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement random-node option #7 optimize random call
  packages/cracking-the-coding-interview/trees-and-graphs/random-node/random-node.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement paths-with-sum option #1
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/dot.png
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/paths-with-sum.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/paths-with-sum.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/paths-with-sum.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/paths-with-sum.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement paths-with-sum option #2
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/paths-with-sum.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/paths-with-sum.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): remove ndb due to slow start up performance
  package.json
  yarn.lock
Due: none

feat(ctci): implement insertion (bit manipulation)
  packages/cracking-the-coding-interview/bit-manipulation/insertion/insertion.analysis.org
  packages/cracking-the-coding-interview/bit-manipulation/insertion/insertion.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/insertion/insertion.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/insertion/insertion.ts
  packages/cracking-the-coding-interview/trees-and-graphs/paths-with-sum/dot.png
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement binary-to-string
  packages/cracking-the-coding-interview/bit-manipulation/binary-to-string/binary-to-string.analysis.org
  packages/cracking-the-coding-interview/bit-manipulation/binary-to-string/binary-to-string.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/binary-to-string/binary-to-string.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/binary-to-string/binary-to-string.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement binary-to-string option #2
  packages/cracking-the-coding-interview/bit-manipulation/binary-to-string/binary-to-string.analysis.org
  packages/cracking-the-coding-interview/bit-manipulation/binary-to-string/binary-to-string.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement flip-bit-to-win option #1 brute force
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.analysis.org
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement flip-bit-to-win option #2 optimize space
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.analysis.md
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.analysis.org
  packages/cracking-the-coding-interview/bit-manipulation/flip-bit-to-win/flip-bit-to-win.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(gen): switch to md format for document/analysis files
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.analysis.md
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.analysis.org
Due: none

feat(ctci): implement next-number with bit trick
  packages/cracking-the-coding-interview/bit-manipulation/next-number/next-number.analysis.md
  packages/cracking-the-coding-interview/bit-manipulation/next-number/next-number.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/next-number/next-number.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/next-number/next-number.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement next-number with arithmetic trick
  packages/cracking-the-coding-interview/bit-manipulation/next-number/next-number.analysis.md
  packages/cracking-the-coding-interview/bit-manipulation/next-number/next-number.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement pairwise-swap
  packages/cracking-the-coding-interview/bit-manipulation/pairwise-swap/pairwise-swap.analysis.md
  packages/cracking-the-coding-interview/bit-manipulation/pairwise-swap/pairwise-swap.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/pairwise-swap/pairwise-swap.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/pairwise-swap/pairwise-swap.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement conversion problem
  packages/cracking-the-coding-interview/bit-manipulation/conversion/conversion.analysis.org
  packages/cracking-the-coding-interview/bit-manipulation/conversion/conversion.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/conversion/conversion.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/conversion/conversion.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): implement draw-line
  packages/cracking-the-coding-interview/bit-manipulation/draw-line/draw-line.analysis.md
  packages/cracking-the-coding-interview/bit-manipulation/draw-line/draw-line.fixture.json
  packages/cracking-the-coding-interview/bit-manipulation/draw-line/draw-line.spec.ts
  packages/cracking-the-coding-interview/bit-manipulation/draw-line/draw-line.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(build): fix build ts
  .gitignore
  packages/cracking-the-coding-interview/trees-and-graphs/minimal-tree/minimal-tree.ts
  packages/four-semesters-of-cs-part-two/02-tree-traversals/depth-first.ts
  packages/hackerrank/algorithms/dynamic-programming/coin-change/coin-change-rec.spec.ts
  packages/interviewbit/programming/arrays/pascal-triangle/pascal-triangle.spec.ts
  packages/leetcode/problems/dynamic-programming/maximum-subarray/maximum-subarray-rec.ts
  packages/leetcode/problems/dynamic-programming/min-cost-climbing-stairs/min-cost-climbing-stairs-rec.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve heavy pill
  packages/cracking-the-coding-interview/math-and-logic-puzzles/the-heavy-pill/the-heavy-pill.analysis.md
Due: none

feat(ctci): solve basketball
  packages/cracking-the-coding-interview/math-and-logic-puzzles/basketball/basketball.analysis.md
Due: none

feat(ctci): solve the apocalypse
  packages/cracking-the-coding-interview/math-and-logic-puzzles/the-apocalypse/the-apocalypse.analysis.org
  packages/cracking-the-coding-interview/math-and-logic-puzzles/the-apocalypse/the-apocalypse.fixture.json
  packages/cracking-the-coding-interview/math-and-logic-puzzles/the-apocalypse/the-apocalypse.spec.ts
  packages/cracking-the-coding-interview/math-and-logic-puzzles/the-apocalypse/the-apocalypse.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve 100 lockers
  packages/cracking-the-coding-interview/100-lockers/100-lockers.analysis.org
Due: none

feat(ci): fix inspect argument to debug
  package.json
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.analysis.md
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.analysis.org
  tslint.json
Due: none

feat(ctci): add posion problem
  packages/cracking-the-coding-interview/math-and-logic-puzzles/poison/poison.analysis.org
  packages/cracking-the-coding-interview/math-and-logic-puzzles/poison/poison.spec.ts
  packages/cracking-the-coding-interview/math-and-logic-puzzles/poison/poison.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): rename 100 lockers analysis file to .org
  packages/cracking-the-coding-interview/math-and-logic-puzzles/100-lockers/100-lockers.analysis.org
Due: none

feat(ctci): add triple-step problem
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/triple-step/triple-step.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/triple-step/triple-step.fixture.json
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/triple-step/triple-step.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/triple-step/triple-step.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve magic-index problem
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/magic-index/magic-index.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/magic-index/magic-index.fixture.json
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/magic-index/magic-index.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/magic-index/magic-index.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve power-set using recursion
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.fixture.json
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve power-set using binary representation
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/power-set/power-set.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve recursive-multiply
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/recursive-multiply/recursive-multiply.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/recursive-multiply/recursive-multiply.fixture.json
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/recursive-multiply/recursive-multiply.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/recursive-multiply/recursive-multiply.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(ctci): solve permutations approach 1
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.fixture.json
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(build): increase prettier width to 120
  prettier.config.js
Due: prettier --write

feat(ctci): solve permutations without dups
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.analysis.org
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.spec.ts
  packages/cracking-the-coding-interview/recursion-and-dynamic-programming/permutations-without-dups/permutations-without-dups.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests

feat(generator): remove prettier-ignore
  packages/schematics/challenges/src/file-generator/files/typescript/__problem@dasherize__.spec.ts
Due: prettier --write, tslint --fix --format stylish, yarn jest --findRelatedTests
