Repository somallg/hacker-rank: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(codility): add lession-17 dynamic-frog-jump
  challenges/codility/lessions/lession-17/dynamic-frog-jump/dynamic-frog-jump.spec.ts
  challenges/codility/lessions/lession-17/dynamic-frog-jump/dynamic-frog-jump.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(codility): add lession-17 number-solitare
  challenges/codility/lessions/lession-17/number-solitare/number-solitare.spec.ts
  challenges/codility/lessions/lession-17/number-solitare/number-solitare.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(hacker-earth): add very frist submission on hacker-earth
  challenges/hacker-earth/practice/algorithms/dynamic-programming/intelligent-girl/intelligent-girl.spec.ts
  challenges/hacker-earth/practice/algorithms/dynamic-programming/intelligent-girl/intelligent-girl.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): add length-of-longest-subsequence problem
  challenges/interviewbit/dynamic-programming/length-of-longest-subsequence/length-of-longest-subsequence.spec.ts
  challenges/interviewbit/dynamic-programming/length-of-longest-subsequence/length-of-longest-subsequence.ts
  challenges/tools/file-generator/file.source.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): add ways-to-decode
  challenges/interviewbit/dynamic-programming/ways-to-decode/ways-to-decode.spec.ts
  challenges/interviewbit/dynamic-programming/ways-to-decode/ways-to-decode.ts
  challenges/util/memorized.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(hacker-rank): solved coin-change problem
  challenges/hacker-rank/algorithms/dynamic-programming/coin-change/coin-change.spec.ts
  challenges/hacker-rank/algorithms/dynamic-programming/coin-change/coin-change.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(hacker-rank): solved coin-change problem
  challenges/hacker-rank/algorithms/dynamic-programming/coin-change/coin-change-rec.spec.ts
  challenges/hacker-rank/algorithms/dynamic-programming/coin-change/coin-change-rec.ts
  challenges/hacker-rank/algorithms/dynamic-programming/coin-change/coin-change.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(leetcode): add min-cost-climbing-stairs (recursive version)
  challenges/leetcode/problems/dynamic-programming/min-cost-climbing-stairs/min-cost-climbing-stairs.spec.ts
  challenges/leetcode/problems/dynamic-programming/min-cost-climbing-stairs/min-cost-climbing-stairs.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(leetcode): solved min-cost-climbing-stairs (bottom up)
  challenges/leetcode/problems/dynamic-programming/min-cost-climbing-stairs/min-cost-climbing-stairs-rec.spec.ts
  challenges/leetcode/problems/dynamic-programming/min-cost-climbing-stairs/min-cost-climbing-stairs-rec.ts
  challenges/leetcode/problems/dynamic-programming/min-cost-climbing-stairs/min-cost-climbing-stairs.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(hackerrank): solved fibonacci-modified
  challenges/hacker-rank/algorithms/dynamic-programming/fibonacci-modified/fibonacci-modified.spec.ts
  challenges/hacker-rank/algorithms/dynamic-programming/fibonacci-modified/fibonacci-modified.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): improve build step to add main file
  challenges/hacker-rank/package.json
  challenges/hacker-rank/yarn.lock
  challenges/tools/file-generator/function.source.ts
  challenges/tools/file-generator/main.source.ts
  challenges/tools/utils/string.util.ts
  gulpfile.ts
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(leetcode): solved maximum-subarray bottom up O(n) time complexity
  challenges/leetcode/problems/dynamic-programming/maximum-subarray/maximum-subarray-rec.spec.ts
  challenges/leetcode/problems/dynamic-programming/maximum-subarray/maximum-subarray-rec.ts
  challenges/leetcode/problems/dynamic-programming/maximum-subarray/maximum-subarray.spec.ts
  challenges/leetcode/problems/dynamic-programming/maximum-subarray/maximum-subarray.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(leetcode): solved climbing-stairs O(n) time complexity
  challenges/leetcode/problems/dynamic-programming/climbing-stairs/climbing-stairs.spec.ts
  challenges/leetcode/problems/dynamic-programming/climbing-stairs/climbing-stairs.ts
  challenges/tools/file-generator/spec.source.ts
  gulpfile.ts
  tsconfig.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(leatcode): solve house-robber recursive approach
  challenges/leetcode/problems/dynamic-programming/house-robber/house-robber.spec.ts
  challenges/leetcode/problems/dynamic-programming/house-robber/house-robber.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(leetcode): solved house-robber bottom up
  challenges/leetcode/problems/dynamic-programming/house-robber/house-robber.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(hackerearth): solved n-queens problem
  challenges/hackerearth/practice/algorithms/recursion/n-queens/n-queens.spec.ts
  challenges/hackerearth/practice/algorithms/recursion/n-queens/n-queens.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): add support for spoj
  challenges/tools/file-generator/function.source.ts
  challenges/tools/file-generator/main.source.ts
  gulpfile.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved subsets problem
  challenges/interviewbit/programming/backtracking/subsets/subsets.spec.ts
  challenges/interviewbit/programming/backtracking/subsets/subsets.ts
  challenges/interviewbit/programming/dynamic-programming/length-of-longest-subsequence/length-of-longest-subsequence.spec.ts
  challenges/interviewbit/programming/dynamic-programming/length-of-longest-subsequence/length-of-longest-subsequence.ts
  challenges/interviewbit/programming/dynamic-programming/ways-to-decode/ways-to-decode.spec.ts
  challenges/interviewbit/programming/dynamic-programming/ways-to-decode/ways-to-decode.ts
  challenges/tools/file-generator/function.source.ts
  tsconfig.json
  tsconfig.rollup.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved letter-phone problem
  challenges/interviewbit/programming/backtracking/letter-phone/letter-phone.spec.ts
  challenges/interviewbit/programming/backtracking/letter-phone/letter-phone.ts
  tslint.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved palindrome-partitioning problem
  challenges/interviewbit/programming/backtracking/palindrome-partitioning/palindrome-partitioning.spec.ts
  challenges/interviewbit/programming/backtracking/palindrome-partitioning/palindrome-partitioning.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): get challenge name by directory path and fix build
  challenges/tools/gulp.config.ts
  challenges/tools/utils/challenge.util.ts
  gulpfile.ts
  jest.config.js
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): get challenge name by directory path and fix build
  jest.config.js
Due: prettier --write

feat(interviewbit): solved kth-permutation-sequence problem
  challenges/interviewbit/programming/backtracking/kth-permutation-sequence/kth-permutation-sequence.spec.ts
  challenges/interviewbit/programming/backtracking/kth-permutation-sequence/kth-permutation-sequence.ts
  tslint.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solve permutations problem
  challenges/interviewbit/programming/backtracking/permutations/permutations.spec.ts
  challenges/interviewbit/programming/backtracking/permutations/permutations.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): fix gulp compile and test to handle relative file name
  gulpfile.ts
  package.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved combinations problem
  challenges/interviewbit/programming/backtracking/combinations/combinations.spec.ts
  challenges/interviewbit/programming/backtracking/combinations/combinations.ts
  challenges/util/array.ts
  package.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved combination-sum problem
  challenges/interviewbit/programming/backtracking/combination-sum/combination-sum.spec.ts
  challenges/interviewbit/programming/backtracking/combination-sum/combination-sum.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved combination-sum-ii problem
  challenges/interviewbit/programming/backtracking/combination-sum-ii/combination-sum-ii.spec.ts
  challenges/interviewbit/programming/backtracking/combination-sum-ii/combination-sum-ii.ts
  prettier.config.js
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved subsets-ii problem
  challenges/interviewbit/programming/backtracking/subsets-ii/subsets-ii.spec.ts
  challenges/interviewbit/programming/backtracking/subsets-ii/subsets-ii.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved n-queens problem
  challenges/interviewbit/programming/backtracking/n-queens/n-queens.spec.ts
  challenges/interviewbit/programming/backtracking/n-queens/n-queens.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interview): solved generate-all-parentheses-ii problem
  challenges/interviewbit/programming/backtracking/generate-all-parentheses-ii/generate-all-parentheses-ii.spec.ts
  challenges/interviewbit/programming/backtracking/generate-all-parentheses-ii/generate-all-parentheses-ii.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: none

feat(interviewbit): solved gray-code problem
  challenges/interviewbit/programming/backtracking/gray-code/gray-code.spec.ts
  challenges/interviewbit/programming/backtracking/gray-code/gray-code.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved sudoku problem
  challenges/interviewbit/programming/backtracking/sudoku/sudoku.spec.ts
  challenges/interviewbit/programming/backtracking/sudoku/sudoku.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved min-steps-in-infinite-grid problem
  challenges/interviewbit/programming/arrays/min-steps-in-infinite-grid/min-steps-in-infinite-grid.spec.ts
  challenges/interviewbit/programming/arrays/min-steps-in-infinite-grid/min-steps-in-infinite-grid.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved add-one-to-number
  challenges/interviewbit/programming/arrays/add-one-to-number/add-one-to-number.spec.ts
  challenges/interviewbit/programming/arrays/add-one-to-number/add-one-to-number.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved max-sum-contiguous-subarray
  challenges/interviewbit/programming/arrays/max-sum-contiguous-subarray/max-sum-contiguous-subarray.spec.ts
  challenges/interviewbit/programming/arrays/max-sum-contiguous-subarray/max-sum-contiguous-subarray.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved maximum-absolute-difference problem
  challenges/interviewbit/programming/arrays/maximum-absolute-difference/maximum-absolute-difference.spec.ts
  challenges/interviewbit/programming/arrays/maximum-absolute-difference/maximum-absolute-difference.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): solved repeat-and-missing-number-array problem
  challenges/interviewbit/programming/arrays/repeat-and-missing-number-array/repeat-and-missing-number-array.spec.ts
  challenges/interviewbit/programming/arrays/repeat-and-missing-number-array/repeat-and-missing-number-array.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

Path conditions:
  prettier --parser json --write: (any of: *.json) or (any of: *.*rc)
  prettier --write: (any of: *.js) or (any of: *.ts)
  tslint --fix --format verbose: any of: *.ts
  yarn jest --findRelatedTests: any of: *.ts
