Repository somallg/hacker-rank: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

.lintstagedrc:

{
  "linters": {
    "*.json": ["prettier --parser json --write", "git add"],
    "*.*rc": ["prettier --parser json --write", "git add"],
    "*.js": ["prettier --write", "git add"],
    "*.ts": [
      "prettier --write",
      "tslint --fix --format verbose",
      "yarn jest --findRelatedTests",
      "git add"
    ]
  },
  "concurrent": false,
  "renderer": "verbose"
}

feat(ctci): fix problem implementations
  packages/cracking-the-coding-interview/arrays-and-strings/palindrome-permutation/palindrome-permutation.analysis.org
  packages/cracking-the-coding-interview/linked-lists/loop-detection/loop-detection.analysis.org
  packages/cracking-the-coding-interview/linked-lists/loop-detection/loop-detection.fixture.json
  packages/cracking-the-coding-interview/linked-lists/loop-detection/loop-detection.ts
  packages/cracking-the-coding-interview/linked-lists/palindrome/palindrome.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): use ndb instead of node inspect
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --parser json --write

feat(ctci): add stack-min problem
  packages/cracking-the-coding-interview/stacks-and-queues/stack-min/stack-min.analysis.md
  packages/cracking-the-coding-interview/stacks-and-queues/stack-min/stack-min.analysis.org
  packages/cracking-the-coding-interview/stacks-and-queues/stack-min/stack-min.fixture.json
  packages/cracking-the-coding-interview/stacks-and-queues/stack-min/stack-min.spec.ts
  packages/cracking-the-coding-interview/stacks-and-queues/stack-min/stack-min.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): add stack-min second approach
  packages/cracking-the-coding-interview/stacks-and-queues/stack-min/stack-min.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(build): revert to support non TTY terminal
  .lintstagedrc
  packages/cracking-the-coding-interview/stacks-and-queues/stack.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): add queue-via-stack problem
  packages/cracking-the-coding-interview/stacks-and-queues/queue-via-stacks/queue-via-stacks.analysis.org
  packages/cracking-the-coding-interview/stacks-and-queues/queue-via-stacks/queue-via-stacks.fixture.json
  packages/cracking-the-coding-interview/stacks-and-queues/queue-via-stacks/queue-via-stacks.spec.ts
  packages/cracking-the-coding-interview/stacks-and-queues/queue-via-stacks/queue-via-stacks.ts
  packages/cracking-the-coding-interview/stacks-and-queues/stack.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): add sort-stack problem
  packages/cracking-the-coding-interview/stacks-and-queues/sort-stack/sort-stack.analysis.org
  packages/cracking-the-coding-interview/stacks-and-queues/sort-stack/sort-stack.fixture.json
  packages/cracking-the-coding-interview/stacks-and-queues/sort-stack/sort-stack.spec.ts
  packages/cracking-the-coding-interview/stacks-and-queues/sort-stack/sort-stack.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(interviewbit): change spiral-order-matrix impl
  packages/interviewbit/programming/arrays/spiral-order-matrix-ii/spiral-order-matrix-ii.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(four-semesters): convert js code to ts
  packages/four-semesters-of-cs/03-data-structures/array-list.spec.ts
  packages/four-semesters-of-cs/03-data-structures/array-list.ts
  packages/four-semesters-of-cs/03-data-structures/avl-tree.spec.js
  packages/four-semesters-of-cs/03-data-structures/avl-tree.spec.ts
  packages/four-semesters-of-cs/03-data-structures/avl-tree.ts
  packages/four-semesters-of-cs/03-data-structures/binary-search-tree.spec.js
  packages/four-semesters-of-cs/03-data-structures/binary-search-tree.spec.ts
  packages/four-semesters-of-cs/03-data-structures/binary-search-tree.ts
  packages/four-semesters-of-cs/03-data-structures/hash-table.spec.ts
  packages/four-semesters-of-cs/03-data-structures/hash-table.ts
  packages/four-semesters-of-cs/03-data-structures/linked-list.spec.ts
  packages/four-semesters-of-cs/03-data-structures/linked-list.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): add route-between-nodes problem
  packages/cracking-the-coding-interview/trees-and-graphs/graph.ts
  packages/cracking-the-coding-interview/trees-and-graphs/route-between-nodes/route-between-nodes.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/route-between-nodes/route-between-nodes.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/route-between-nodes/route-between-nodes.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(good-parts): add type system to function challenge
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-01.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-01.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-02.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-02.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-03.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-03.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-04.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-04.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-05.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-05.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-06.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-06.ts
  packages/good-parts-javascript-web/fun-with-functions/function.util.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(good-parts): add type system to function challenge
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-06.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-06.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-07.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-07.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-08.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-08.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-09.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-10.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-10.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-11.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-12.spec.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge-12.ts
  packages/good-parts-javascript-web/fun-with-functions/function-challenge.spec.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(spoj): remove unneeded problem
  packages/spoj/problems/classical/alphacode/alphacode.spec.ts
  packages/spoj/problems/classical/alphacode/alphacode.ts
  packages/spoj/problems/classical/test/test.main.ts
  packages/spoj/problems/classical/test/test.spec.ts
  packages/spoj/problems/classical/test/test.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

build(gulp): fix src folder
  packages/tools/gulp.config.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): fix route-between-nodes
  packages/cracking-the-coding-interview/trees-and-graphs/route-between-nodes/route-between-nodes.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(four-semesters): fix ts errors
  packages/four-semesters-of-cs-part-two/01-bloom-filter/bloom-filter.spec.ts
  packages/four-semesters-of-cs-part-two/04-graphs/graph-traversal.spec.ts
  packages/four-semesters-of-cs-part-two/04-graphs/graph-traversal.ts
  packages/four-semesters-of-cs-part-two/package.json
  packages/four-semesters-of-cs-part-two/yarn.lock
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(data-structures): fix typos in Queue class
  packages/data-structures-algorithms/1-stacks-queues/queue.spec.ts
  packages/data-structures-algorithms/1-stacks-queues/queue.ts
  packages/data-structures-algorithms/1-stacks-queues/stack.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

build(package): add underscore lib
  package.json
  yarn.lock
Due: prettier --parser json --write

feat(ctci): add animal-shelter problem
  packages/cracking-the-coding-interview/stacks-and-queues/animal-shelter/animal-shelter.analysis.org
  packages/cracking-the-coding-interview/stacks-and-queues/animal-shelter/animal-shelter.fixture.json
  packages/cracking-the-coding-interview/stacks-and-queues/animal-shelter/animal-shelter.spec.ts
  packages/cracking-the-coding-interview/stacks-and-queues/animal-shelter/animal-shelter.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(tools): optimize code for typescript
  packages/interviewbit/programming/math/fizzbuzz/fizzbuzz.spec.ts
  packages/schematics/challenges/src/file-generator/files/python/__problem@underscore___spec.py
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(yarn): removed old yarn packages
  gulpfile.ts
  yarn.lock
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(schematics): fix type on schema options
  packages/schematics/challenges/src/file-generator/index.ts
  packages/schematics/challenges/src/fix-spec/index.ts
  packages/schematics/challenges/src/test-fixture/index.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(hacker-rank): tweak time limit for spec file
  packages/interviewbit/programming/math/sorted-permutation-rank-with-repeats/sorted-permutation-rank-with-repeats.fixture.json
Due: prettier --parser json --write

feat(ctci): add minimal-tree problem
  packages/cracking-the-coding-interview/trees-and-graphs/minimal-tree/minimal-tree.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/minimal-tree/minimal-tree.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/minimal-tree/minimal-tree.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/minimal-tree/minimal-tree.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): add list-of-depths problem
  packages/cracking-the-coding-interview/trees-and-graphs/binary-tree.ts
  packages/cracking-the-coding-interview/trees-and-graphs/list-of-depths/list-of-depths.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/list-of-depths/list-of-depths.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/list-of-depths/list-of-depths.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/list-of-depths/list-of-depths.ts
  packages/cracking-the-coding-interview/trees-and-graphs/minimal-tree/minimal-tree.ts
  tsconfig.json
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ut): tweak timeLimit for ut
  packages/util/thenable.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): add check-balanced problem
  packages/cracking-the-coding-interview/trees-and-graphs/check-balanced/check-balanced.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/check-balanced/check-balanced.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/check-balanced/check-balanced.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/check-balanced/check-balanced.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement validate-bst using in-order search
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement validate-bst using min/max method
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/validate-bst/validate-bst.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement successor problem
  packages/cracking-the-coding-interview/trees-and-graphs/binary-tree.ts
  packages/cracking-the-coding-interview/trees-and-graphs/successor/successor.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/successor/successor.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/successor/successor.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/successor/successor.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement build-order method #1
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement build-order method #1
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement build-order method #2 using DFS
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/build-order/build-order.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement build-order method #
  packages/util/unit-test.util.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement first-common-ancestor solution #1
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.fixture.json
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.ts
Due: prettier --parser json --write, prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement first-common-ancestor solution #2
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests

feat(ctci): implement first-common-ancestor solution #3
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.analysis.org
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.spec.ts
  packages/cracking-the-coding-interview/trees-and-graphs/first-common-ancestor/first-common-ancestor.ts
Due: prettier --write, tslint --fix --format verbose, yarn jest --findRelatedTests
